/* body start */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
p{
    line-height: 26px;
}

/* header start */
.header{
}

/* nav start */
.nav{
    width: 1428px;
    height: 131px;
}
/* nav end */

/* hero bg start */
.hero-bg{
    background-image: url(../assets/Hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 75px;
    min-width: 1440px;
    min-height: 652px;    
}
/* hero bg end */

/* banner start */
.banner{
    width: 998px;
    height: 484px;
    display: inline-block;
    margin: 26px 227px 30px 215px;
}
.banner img{
    width: 240px;
    height: 240px;
    margin: 0px 380px 32px;
}
.b-content{
    margin-top: 0;
    height: 212px;
    text-align: center;
}
.b-h{
    font-size: 48px;
    font-weight: 800;
    height: 136px;
    margin-bottom: 24px;
    margin-top: 0;
}
.b-p{
    font-size: 16px;
    font-weight: 400;
    width: 852px;
    height: 52px;
    margin: 0 75px;
}
.hero-btn{
    width: 245px;
    height: 65px;
    margin: 0 600px 45px;
    /* text-decoration: none; */
}
.btn{
    background-color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 21px 24px;
    border-radius: 8px;
}
.btn-a{
    text-decoration: none;
    color: white;
}
/* banner end */

/* header end */

/* main start */
main{}

/* wwd start */
.wwd{
    width: 946px;
    height: 1233px;
    margin: 0 152px 90px 148px;
    padding: 80px 97px;
    justify-content: center;
    background-color: #FAFAFB;
}

/* wwd content start */
.wwd-content{
    height: 113px;
    width: 852px;
    text-align: center;
    margin: 0 47px 48px;
}
.wwd-h5{
    height: 37px;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 24px;
    line-height: auto;

}
.wwd-content p{
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* wwd content end */

/* wwd layer start */

/* wwd layer01 start */
.wwd01{
    width: 850px;
    height: 240px;
    padding: 48px;
    display: flex;
    background-color: white;
    margin-bottom: 32px;
}
.wwd01-content{
    width: 477px;
    height: 219px;
    margin: 10px 98px 10px 0;
    text-align: left;
}
.wwd01-content-hp{
    height: 140px;
    margin-bottom: 32px;
}
.wwd01-content-hp h5{
    width: 390px;
    height: 72px;
    line-height: 36px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 0 87px 16px 0;
}
.wwd01-content-hp p{
    width: 468px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 9px;
    opacity: 0.7;
}
.wwd01-content button{
    width: 171px;
    height: 47px;
    color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    /* padding: 20px 12px; */
    text-align: center;
    border-radius: 0;
    opacity: 0.7;
    margin-right: 306px;
}
.wwd01 img{
    width: 275px;
    height: 240px;
}
/* wwd layer 01 end */

/* wwd layer02 start */
.wwd02{
    height: 240px;
    padding: 48px;
    display: flex;
    background-color: white;
    margin-bottom: 32px;
}
.wwd02-content{
    width: 477px;
    height: 219px;
    margin: 10px 100px 10px 32px;
    text-align: left;
}
.wwd02-content-hp{
    height: 140px;
    margin-bottom: 32px;
}
.wwd02-content-hp h5{
    width: 447px;
    height: 72px;
    line-height: 36px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
}
.wwd02-content-hp p{
    width: 468px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 9px;
    opacity: 0.7;
}
.wwd02-content button{
    width: 171px;
    height: 47px;
    color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    /* padding: 20px 12px; */
    text-align: center;
    border-radius: 0;
    opacity: 0.7;
    margin-right: 306px;
}
.wwd02 img{
    width: 240px;
    height: 240px;
}
/* wwd layer02 end */

/* wwd layer03 start */
.wwd03{
    height: 240px;
    padding: 48px;
    display: flex;
    background-color: white;
}
.wwd03-content{
    width: 477px;
    height: 219px;
    margin: 10px 133px 10px 0;
    text-align: left;
}
.wwd03-content-hp{
    height: 140px;
    margin-bottom: 32px;
}
.wwd03-content-hp h5{
    width: 390px;
    height: 72px;
    line-height: 36px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 0 87px 16px 0;
}
.wwd03-content-hp p{
    width: 468px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    margin-right: 9px;
    opacity: 0.7;
}
.wwd03-content button{
    width: 171px;
    height: 47px;
    color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    /* padding: 20px 12px; */
    text-align: center;
    border-radius: 0;
    opacity: 0.7;
    margin-right: 306px;
}
.wwd03 img{
    width: 240px;
    height: 240px;
}
/* wwd layer03 end */

/* wwd layer end */

/* wwd end */

/* my inspiration start */
.mi{
    width: 1140px;
    height: 775px;
    margin: 0 152px 151px 148px;
}

/* mi content start */
.mi-content{
    width: 852px;
    height: 113px;
    margin: 0 144px 48px 144px;
}
.mi-content h4{
    height: 37px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}
.mi-content p{
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    
}
/* mi content end */

/* mi video start */
.mi-vid{
    border: 1px solid rgba(13, 19, 33, 0.2);
    /* box-shadow: rgba(13, 19, 33, 0.2); */
    border-radius: 16px;
    overflow: hidden;
}
.mi-vid-container{
    border-radius: 16px;
}
.mi-vid-iframe{
    padding: 30px;
    border: none;
}
/* mi video end */

/* my inspiration end */

/* my current target start */
.mct{
    width: 1140px;
    height: 460px;
    margin: 150px 150px 50px 150px;
}

/* mct content start */
.mct-content{
    width: 946px;
    height: 113px;
    margin: 0 97px 48px;
    padding: 0 47px;
    text-align: center;
}
.mct-content h4{
    height: 37px;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 24px;

}
.mct-content p{
    height: 52px;
    font-weight: 400;
    font-size: 16px;
}
/* mct content end */

/* mct sliders start */
.mct-sliders{
    height: 300px;
    display: flex;
}

/* mct slider01 start */
.s-1{
   width: 364px;
    padding: 40px;
    margin-right: 24px;
    background-color: #FFF6F4;
    border: none;
    border-radius: 16px;
}
.s-1 img{
    height: 56px;
    width: 56px;
    margin: 0 228px 24px 0;
}
.s-1-content{
    height: 139px;
}
.s-1-content-ph{
    height: 96px;
    margin-bottom: 24px;
}
.s-1-content-ph h4{
    height: 36px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 24px;
    text-align: left;
}
.s-1-content-ph p{
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    opacity: 0.7;
}
.s-1-content a{
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #0D1321;
}
/* mct slider01 end */

/* mct slider02 start */
.s-2{
    width: 364px;
    padding: 40px;
    margin-right: 24px;
    background-color: #F2F6FE;
    border: none;
    border-radius: 16px;
}
.s-2 img{
    height: 56px;
    width: 56px;
    margin: 0 228px 24px 0;
}
.s-2-content{
    height: 139px;
}
.s-2-content-ph{
    height: 96px;
    margin-bottom: 24px;
}
.s-2-content-ph h4{
    height: 36px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 24px;
    text-align: left;
}
.s-2-content-ph p{
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    opacity: 0.7;
}
.s-2-content a{
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #0D1321;
}
/* mct slider02 end */

/* mct slider03 start */
.s-3{
    width: 364px;
     padding: 40px;
     margin-right: 24px;
     background-color: #FFFDF2;
     border: none;
     border-radius: 16px;
 }
 .s-3 img{
     height: 56px;
     width: 56px;
     margin: 0 228px 24px 0;
 }
 .s-3-content{
     height: 139px;
 }
 .s-3-content-ph{
     height: 96px;
     margin-bottom: 24px;
 }
 .s-3-content-ph h4{
     height: 36px;
     margin-top: 0;
     margin-bottom: 8px;
     font-weight: 800;
     font-size: 24px;
     text-align: left;
 }
 .s-3-content-ph p{
     height: 52px;
     font-weight: 400;
     font-size: 16px;
     text-align: left;
     opacity: 0.7;
 }
 .s-3-content a{
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #0D1321;
}
/* mct slider03 end */

/* mct sliders end */

/* my current target end */

/* support start */
.support {
    position: relative;
    width: 1044px;
    height: 185px;
    margin: 0 150px 80px 150px;
    padding: 64px 48px;
    border: none;
    border-radius: 16px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

 /* support bg start */
.support::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    border-radius: 16px; /* Match the container's border-radius */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}
/* support bg end */

/* support content start */
.support-content{
    width: 730px;
    height: 104px;
    margin: 0 157px 24px 157px;
    text-align: center;
}
.support-content h4{
    width: 292px;
    height: 36px;
    font-weight: 700;
    font-size: 32px;
    color: white;
    line-height: 36px;
    margin: 0 219px 16px;
    
}
.support-content p{
    width: 606px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 0 62px 0 62px;
    opacity: 0.7;
}
/* support content end */

/* support form start */
.s-btn{
    width: 548px;
    height: 57px;
    margin: 0 180px 0 180px;
    /* display: inline; */
    /* justify-content: center; */
    /* font-weight: 600; */
    /* font-size: 20px; */
    /* text-align: center; */
}
.s-btn-form{
    display: flex;
}
.s-btn-text{
    min-width: 313px;
    height: 19px;
    border: none;
    border-radius: 8px;
    margin-right: 16px;
    padding: 20px 215px 20px 20px;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    background-color: white;
    color: #0D1321;
}
.s-btn-submit{
    min-width: 120px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 8px;
}
/* support form end */

/* support end */

/* footer start */
#footer{
    width: 1140px;
    height: 36px;
    padding: 32px 150px;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
}

/* footer commitment start */
#footer h4{
    width: 456px;
    height: 23px;
    margin: 6px 525px 6px 0;
}
/* footer commitment end */

/* footer icons start */
.f-icons{
    width: 157px;
    display: flex;
}

.f-icons-a1 , .f-icons-a2{
    margin: 0 24px 0 0;
}
/* footer icons end */

/* footer end */

/* body end */